section.taxonomy
    .taxonomy
        &__wrap
            padding-bottom: 98px
            +max-screen($breakpoint-lg)
                padding-bottom: 60px
        &__list
            display: grid
            justify-content: space-between
            grid-template-columns: repeat(3, 28.40%)
            gap: 70px 90px
            +max-screen($breakpoint-xxl)
                gap: 40px 60px
            +max-screen(1600px)
                grid-template-columns: repeat(3, 1fr)
            +max-screen($breakpoint-xl)
                grid-template-columns: repeat(3, 1fr)
                gap: 30px
            +max-screen($breakpoint-lg)
                grid-template-columns: repeat(2, 1fr)
            +max-screen($breakpoint-md)
                grid-template-columns: repeat(1, 1fr)
        &__pagination
            padding-top: 73px
            +max-screen($breakpoint-lg)
                padding-top: 60px